<div class="sidebar d-flex flex-column">
  <a href="#" class="navbar-brand d-flex align-items-center px-3 py-2">
    <span class="h4 mb-0">Menú</span>
  </a>
    <nav class="sidebar flex-column">
      <a class="nav-link" href="/sopor_dato">Home</a>
     <a class="nav-link" href="/Tickets">Ver tickets</a>
     <a class="nav-link" href="/ver-tickets">Ver tickets</a>
     <a class="nav-link" href="/usuarios">Test</a>
     <a class="nav-link" href="/usuarios/nuevo">ingreso</a>
     <a class="nav-link" href="/gestion_roles">Gestionar roles</a>
    </nav>
  </div>
