<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar Layout</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
  <app-header></app-header>
  <div class="main-content">
    <div class="sidebar">
      <!-- <app-menu></app-menu> -->
      <app-menu-soporte></app-menu-soporte>
    </div>
    <div class="content">
      <router-outlet />
    </div>
  </div>
  <!--<app-footer></app-footer>-->
</div>

</body>
</html>
